<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a class="navbar-brand" href="#"><img src="../../assets/images/newlogo2.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Accueil</a>
          </li>
          <div class="vertical-line" style="height: 35px;"></div>
          <li [hidden]="isLogged" class="nav-item">
            <!--a class="nav-link" routerLink="/espace-prof"><i class="fa fa-user" style="color: #6648b1"></i> &nbsp; Espace Professeur</a-->
            <a class="nav-link" routerLink="/login"><i class="fa fa-user" style="color: #9932CC"></i> &nbsp; Connexion</a>
          </li>
          <div [hidden]="isLogged" class="vertical-line" style="height: 35px;"></div>
          <li [hidden]="isLogged" class="nav-item">
            <!--a class="nav-link" routerLink="/espace-etudiant"><i class="fa fa-graduation-cap" style="color: #6648b1"></i> &nbsp; Espace Etudiant</a-->
            <a class="nav-link" routerLink="/signup"><i class="fa fa-sign-in" style="color: #9932CC"></i> &nbsp; Inscription</a>
          </li>
          <button [hidden]="!isLogged" (click)="logOut()" class="btn">
            <i class="fa fa-sign-out" style="color: #9932CC" ></i> &nbsp;  Se déconnecter
          </button>
          <!--button [hidden]="!userIsLogged" (click)="userLogOut()" class="btn">
            <i class="fa fa-sign-out" style="color: #00bfa6" ></i> &nbsp;  Se déconnecter
          </button-->
        </ul>
      </div>
    </div>
  </nav>
</header>
