.modal.show {
  display: block;
}
.card-header {
  background-color: rgba(102, 71, 145, 0.65);
  color:#fff;
  text-align:left;
  font-weight: bold;
  border-collapse:collapse;
  font-size: 0.9em;
  min-width:400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

/* Styling modal */
.modal .modal-content {
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}

@-webkit-keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.btn-btn {
  background-color: #563d7c;
  border: 1px solid #563d7c;
  color:#fff;
}

.btn-btn:hover {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}
.label{
  font-weight:bold ;
}
