
<body>


  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Services</h1>
      <p>
        Cet espace est réservé aux personnels de la FSTG.
        Vous pouvez dès maintenant gérer les concours, les départements, les diplômes, les étudiants préinscrits et les comptes des étudiants.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="outer-box" routerLink="/espace-prof/concours">
        <hr>
        <div class="image">
          <!--img src="../../../assets/images/background.png" alt="" class="secondary circle1">
          <img src="../../../assets/images/background.png" alt="" class="secondary plus">
          <img src="../../../assets/images/background.png" alt="" class="secondary circle2">
          <img src="../../../assets/images/background.png" alt="" class="main"-->
          <i class="fa fa-trash secondary circle2"></i>
          <i class="fa fa-edit secondary plus"></i>
          <i class="fa fa-plus secondary circle1"></i>
          <i class="fa fa-file-text-o main"></i>
        </div>
        <h2>Concours</h2>
          <p>
            Ajouter, modifier ou supprimer un concours.
          </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="outer-box" routerLink="/espace-prof/departement">
        <hr>
        <div class="image">
          <!--img src="../../../assets/images/background.png" alt="" class="secondary circle1">
          <img src="../../../assets/images/background.png" alt="" class="secondary plus">
          <img src="../../../assets/images/background.png" alt="" class="secondary circle2">
          <img src="../../../assets/images/background.png" alt="" class="main"-->
          <i class="fa fa-trash secondary circle2"></i>
          <i class="fa fa-edit secondary plus"></i>
          <i class="fa fa-plus secondary circle1"></i>
          <i class="fa fa-university main"></i>
        </div>
        <h2>Département</h2>
        <p>
          Ajouter, modifier ou supprimer un département.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="outer-box" routerLink="/espace-prof/type-diplome">
        <hr>
        <div class="image">
          <!--img src="../../../assets/images/background.png" alt="" class="secondary circle1">
          <img src="../../../assets/images/background.png" alt="" class="secondary plus">
          <img src="../../../assets/images/background.png" alt="" class="secondary circle2">
          <img src="../../../assets/images/background.png" alt="" class="main"-->
          <i class="fa fa-trash secondary circle2"></i>
          <i class="fa fa-edit secondary plus"></i>
          <i class="fa fa-plus secondary circle1"></i>
          <i class="fa fa-graduation-cap main"></i>
        </div>
        <h2>Diplômes</h2>
        <p>
          Ajouter, modifier ou supprimer un diplôme.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="outer-box" routerLink="/espace-prof/preinscriptionlist">
        <hr>
        <div class="image">
          <i class="fa fa-trash secondary circle2"></i>
          <i class="fa fa-edit secondary plus"></i>
          <i class="fa fa-plus secondary circle1"></i>
          <i class="fa fa-list main"></i>
        </div>
        <h2>Etudiants préinscrits</h2>
        <p>
          Voir les étudiants préinscrits.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="outer-box" routerLink="/espace-prof/users">
        <hr>
        <div class="image">
          <!--img src="../../../assets/images/background.png" alt="" class="secondary circle1">
          <img src="../../../assets/images/background.png" alt="" class="secondary plus">
          <img src="../../../assets/images/background.png" alt="" class="secondary circle2"-->
          <!--img src="../../../assets/images/background.png" alt="" class="main"-->
          <i class="fa fa-trash secondary circle2"></i>
          <i class="fa fa-edit secondary plus"></i>
          <i class="fa fa-plus secondary circle1"></i>
          <i class="fa fa-users main"></i>
        </div>
        <h2>Comptes</h2>
        <p>
          Voir et gérer les comptes des étudiants.
        </p>
      </div>
    </div>
  </div>
</div>
</body>
