<!--div-- class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" data-toggle="pill" role="tab" aria-selected="true" routerLink="/espace-etudiant/preinscription">Preinscription</a>
        <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false" routerLink="/home">Inscription</a>
        <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false">Connectez-vous</a>
        <a class="nav-link"  data-toggle="pill" role="tab" aria-selected="false">Suivre une inscription</a>
        <a class="nav-link"  data-toggle="pill" role="tab" aria-selected="false">Se déconnecter</a>
        <a class="nav-link"  data-toggle="pill" role="tab" aria-selected="false">Test </a>
        <a class="nav-link"  data-toggle="pill" role="tab" aria-selected="false">test</a>
        <a class="nav-link" data-toggle="pill" role="tab" aria-selected="false">test</a>
      </div>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
 </div-->

<!--input type="checkbox" id="check">
<label for="check">
  <i class="fa fa-bar" id="btn"></i>
  <i class="fa fa-times" id="cancel"></i>
</label>
<div class="sidebar">
  <header>My app</header>
  <ul>

    <li> <a href="#"> <i class="fa fa-qrcode"></i> dkncd,</a></li>
    <li> <a href="#"> <i class="fa fa-link"></i>mok</a></li>
    <li><a href="#"> <i class="fa fa-stream"></i>dfd</a></li>
    <li>  <a href="#"> <i class="fa fa-calendar-week"></i>dfdf</a> </li>
    <li>  <a href="#"> <i class="fa fa-question-circle"></i>dvdf</a></li>
    <li>  <a href="#"> <i class="fa fa-sliders-h"></i>fdfd</a></li>
    <li>  <a href="#"> <i class="fa fa-envelope"></i>dfdfd</a> </li>


  </ul>
</div-->

<!--app-espace-etudiant-header></app-espace-etudiant-header-->

<app-preinscription></app-preinscription>
