<body>
  <br>
  <!--Jumbotron-->
  <div class="container-fluid">
    <div class="row jumbotron">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p class="lead" style="text-align: center; font-weight: bold; font-size: 30px">Sauvez des vies, restez à la maison</p>
        <p class="text-center">
          Il est le mot d’ordre depuis l’instauration de « l’Etat d’urgence sanitaire ». « Restez chez vous » est l’appel
          lancé pour respecter le confinement afin de freiner la propagation de la pandémie de Coronavirus (Covid-19).
          En l’absence de véritable traitement ou de vaccin, la distanciation sociale est à ce jour le seul moyen efficace pour
          freiner la propagation de la pandémie.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
        <a href="https://www.who.int/fr/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target = "_blank">
        <button type="button" class="fa fa-exclamation-triangle btn btn-danger btn-lg"> &nbsp; &nbsp; COVID-19 &nbsp; &nbsp;</button>
      </a>
      </div>
    </div>
  </div>

  <!--Image slides-->
  <div id="slides" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/students2.jpg">
        <div class="carousel-caption">
          <br>
          <br>
          <h1 class="display-2">FSTG Concours</h1>
          <h3>Gestion des concours</h3>
          <button type="button" class="btn btn-btn btn-lg " routerLink="/espace-etudiant/preinscription"> &nbsp; Préinscription  &nbsp;</button> &nbsp; &nbsp;
          <button type="button" class="btn btn-light btn-lg" routerLink="/espace-prof"> Commission </button>
        </div>
      </div>
    </div>
  </div>

  <!--Welcome Section-->
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Bienvenue</h1>
      </div>
      <hr>
      <div class="col-12">
        <p class="lead">
          Bienvenue sur notre nouvelle application FSTG CONCOURS pour la gestion des
          concours pour le service des affaires estudiantines de La Faculté des Sciences et Techniques de Marrakech.
        </p>
      </div>
    </div>
  </div>

  <!--Two Column Section-->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-lg-6">
        <h2>La Faculté des Sciences et Techniques de Marrakech </h2>
        <p>
          L’établissement FST Marrakech figure parmi les facultés de l’Université Cadi Ayyad de Marrakech.
          C'est un  établissement  d'enseignement  supérieur  à  caractère scientifique  et  technique.
        </p>
        <p>
          La FSTG a été créée en vue de renforcer le potentiel universitaire et technologique de la région  de  Marrakech,
          développer et  diversifier les formations offertes en vue d'une meilleure  intégration de  l'Université dans son environnement socio-économique.
        </p>
        <p>
          La FSTG est ouverte aux titulaires du baccalauréat et qui sont bien classés dans le calcul spécial de la note, qui prend en considération les notes des
          matières scientifiques ainsi que la note du français au régional.
          Pour les titulaires d'un DEUST, d'un DUT ou d’une licence ou équivalent, et qui désirent continuer leurs études en master ou cycle d'ingénieurs à la FST
          Marrakech, ils sont amenés à postuler leurs dossiers de candidatures quand la faculté publie son appel à candidature, afin de pouvoir passer le concours écrit.
        </p>
        <br>
        <a href="#" class="btn btn-btn" routerLink="/informations">Découvrez nos concours et départements</a>
      </div>
      <div class="col-lg-6">
        <img src="../../assets/images/student4" class="img-fluid" style="border: solid 30px #6d7c86; height: 500px; width: 700px" >
      </div>
    </div>
    <hr class="my-4">
  </div>

  <!--Connect-->
  <!--div-- class="container-fluid">
    <div class="row text-center padding">
      <div class="col-12">
        <h2>Connect</h2>
      </div>
      <div class="col-12 social padding">
        <a href="https://www.linkedin.com/company/cadi-ayyad-university/"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div-->

  <!--Footer-->
  <!--footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <hr class="light">
        <h1>FSTG</h1>
        <h2>Faculté des sciences et techniques</h2>
        <hr class="light">
        <p>
          <a href="http://www.fstg-marrakech.ac.ma/contact.php">(+212) 524 43 34 04</a>
        </p>
        <p>fstg@gmail.com</p>
        <p>B.P 549, Av.Abdelkarim Elkhattabi, Guéliz Marrakech</p>
        <p>Marrakech 40000</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>teeeeeeeeeest</h5>
        <hr class="light">
        <p>teeeeeeeeeest</p>
        <p>teeeeeeeeeest</p>
        <p>teeeeeeeeeest</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>teeeeeeeeeest</h5>
        <hr class="light">
        <p>teeeeeeeeeest</p>
        <p>teeeeeeeeeest</p>
        <p>teeeeeeeeeest</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy;fstg.com</h5>
      </div>
    </div>
  </div>
</footer-->


  <!--Footer-->
  <footer class="page-footer font-small unique-color-dark pt-4">
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-md-6">
            <hr class="light">
            <h1>FSTG</h1>
            <hr class="light">
            <h2>Faculté des sciences et techniques</h2>
            <p>
              <a href="http://www.fstg-marrakech.ac.ma/contact.php" target = "_blank">(+212) 524 43 34 04</a>
            </p>
            <p>fstg@uca.ma</p>
            <p>B.P 549, Av.Abdelkarim Elkhattabi, Guéliz Marrakech</p>
            <p>Marrakech 40000</p>
          </div>
          <div class="col-md-6">
            <hr class="light">
            <h1>Rejoignez-nous</h1>
            <hr class="light">
            <div class=" social padding">
              <a href="https://www.linkedin.com/company/cadi-ayyad-university/" target = "_blank"><i class="fa fa-linkedin-square"></i></a>
              <a href="#" target = "_blank"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">©2020 Nas&Ima:
        <a href="#"> Gestion des concours</a>
      </div>
  </footer>
</body>



