<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!--a class="nav-link" routerLink="/espace-prof"><i class="fa fa-user" style="color: #6648b1"></i> &nbsp; Espace Professeur</a-->
            <a class="nav-link" routerLink="/espace-prof/preinscriptionlist/concours"> &nbsp; Voir la liste des étudiants selon un concours donné</a>
          </li>
          <div class="vertical-line" style="height: 30px;"></div>
          <li class="nav-item">
            <!--a class="nav-link" routerLink="/espace-etudiant"><i class="fa fa-graduation-cap" style="color: #6648b1"></i> &nbsp; Espace Etudiant</a-->
            <a class="nav-link" routerLink="/espace-prof/preinscriptionlist/seuil"> &nbsp; Voir la liste des étudiants selon un seuil donné</a>
          </li>
          <div class="vertical-line" style="height: 30px;"></div>
          <li class="nav-item">
            <!--a class="nav-link" routerLink="/espace-etudiant"><i class="fa fa-graduation-cap" style="color: #6648b1"></i> &nbsp; Espace Etudiant</a-->
            <a class="nav-link" routerLink="/espace-prof/preinscriptionlist/type-diplome"> &nbsp; Voir la liste des étudiants selon un diplôme donné</a>
          </li>
        </ul>
        <div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp; &nbsp;
        </div>

      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
